:root{
   --azul-escuro1: #023059;
   --azul-escuro2: #023E73;
   --azul-claro1: #03658C;
   --azul-claro2: #0388A6;
   --azul-claro3: #04ADBF;
   --main-gray: #303841;
   --amarelo: #D98E04;
   --vermelho: rgb(218, 67, 67);
}

body{
   background: var(--main-gray);
   margin: 0;
   padding: 0;
}

.checklist__container{
   margin: 200px auto;
   width: 550px;
   min-height: 400px;
   background-color: var(--azul-claro1);
   padding: 1.5rem;
   box-sizing: border-box;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.349);
}

.checlist__titulo{
   font-family: cursive;
   color: var(--amarelo);
   font-size: 2rem;
   font-weight: bold;
   border-bottom: 1px solid var(--amarelo);
   padding-bottom: 0.5rem ;
   margin-bottom: 1rem;
}

.checklist__conteudo{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.checklist__cabecalho{
   display: flex;
   justify-content: center;
}

.lista__paragrafo{
   display: flex;
   flex-wrap: wrap;
}

.checklist__input, .checklist__botao{
   margin-right: .2rem;
   font-size: 1.1rem;
   padding: .5rem;
}

.checklist__botao{
   background-color: var(--amarelo);
   border: none;
   border-radius: 5px;
   color: var(--azul-escuro1);
   transition: .3s;
}

.checklist__botao:hover{
   cursor: pointer;
   background-color: var(--azul-escuro2);
   color: var(--amarelo);
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}

.checklist__lista{
   width: 100%;
}

.lista__item{
   margin: 1rem 0;
   padding: .8rem;
   display: flex;
   background-color: var(--azul-escuro2);
}

.lista__paragrafo{
   width: 75%;
   color: var(--amarelo);
   font-size: 1.2rem;
   font-family: cursive;
   font-weight: 300;
}

.item__botao--completar, .item__botao--excuir{
   border: none;
   justify-self: center;
   padding: 1px;
   font-weight: 600;
   width: 65px;
   height: 28px;
   border-radius: 5px;
   background-color: var(--amarelo);
   color: var(--azul-escuro1);
   transition: .3s;
   margin-right: 0.2rem;
}

.item__botao--completar:hover, .item__botao--excuir:hover{
   cursor: pointer;
   background-color: var(--azul-claro1);
   color: var(--amarelo);
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}

.botao--completar--done{
   text-decoration: line-through;
   color: var(--vermelho);
}

@media screen and (max-width: 768px) {
   .checklist__container{
      margin: 50px auto;
      width: 100%;
      min-height: calc(100vh - 100px);
   }
   
   .checklist__input, .checklist__botao{
      margin-right: .2rem;
      font-size: 1rem;
      padding: .4rem;
   }
   
}